@font-face {
    font-family: universcondensed;
    src: url(../assets/font-files/universcondensed_bold.ttf);
}

@font-face {
    font-family: scotchmodern;
    src: url(../assets/font-files/scotchmodern_bold.otf);
}



.membership-header {
    text-align: center;
    padding: 40px 20px;
    color: #000;
    margin-bottom: 0;
    line-height: 30px;
    margin-top: 50px;
    font-family: scotchmodern;
}
.membership-header h1 {
    margin-bottom: 20px;
    font-family: 'Bebas Neue';
    font-size: 3em;
}

.membership-header p {
    margin-top: 40px;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: 1200;
}



.benefits h1 {
    text-align: center;
    font-size: 28px;
    font-family: 'Bebas Neue';
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
}


.benefits {
    padding: 40px 20px;
    background: #f9f9f9;
    text-align: center;
    margin-top: 30px;
}


.benefits-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.benefit {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);
    min-width: 250px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.benefit:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature i {
    font-size: 40px;
    color: #ffcc00;
    margin-bottom: 15px;
}

.benefit h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.benefit p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.cta a {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}